.header {
    position: fixed;
    background: transparent;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all .4s ease;
}

.header.scroll {
    background: #252832;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 15px;
}