
.faq__title {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
    cursor: pointer;
}

.faq__desc {
    color: #828282;
    font-size: 15px;
    line-height: 24px;
    opacity: 0;
    transition: all .4s ease;
}
.faq__desc.active {
    opacity: 1;
}
.faq_block {
    padding: 15px 0 15px 30px;
    border-bottom: 1px solid #828282;
    position: relative;
}

.faq__arrow {
    position: absolute;
    top: 15px;
    left: 0;
    cursor: pointer;
    transition: all .4s linear;
}

.faq__arrow.active {
    transform: rotate(90deg);

}