
.user__name {
    color: #252832;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
}

.user__img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 15px;
}

.reviews__user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.reviews__block {
    margin-top: 30px;
}

.reviews__comment {
    color: #828282;
    font-size: 15px;
    line-height: 24px;
}


